body,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.bgimg-2 ,.bgimg-3 ,.bgimg-4{
      position: relative;
}

img{
  vertical-align:middle;
}


/* Navigation Bar */

.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 1.2rem;
}


h1{
  font-size: 5rem;
  color: #fff;
  margin: 20px auto;
  font-family: 'Sacramento', cursive;
  letter-spacing:4px
}

h2 {
color: #fff;
font-size: 1.5rem;
font-weight: normal;
padding-bottom: 10px;
letter-spacing:4px
}


.title {
  position:absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  display:inline-block;
  width:auto;
}


/* about section */

.about-section,.portfolio-section ,.contact-section,.price-section,.bottom-section{
    padding-top: 64px;
    padding-bottom:64px;
}

h3{
  text-align: center;
}

em{
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
}


.myphoto{
  border-radius:4px;
  opacity: 0.9;
}


.left{
  text-align: center;
  padding-top: 30px;
}


.name{
  margin-right: 20px;
}

.right{
  padding-top: 30px;
}

.right-title{
  font-size: 20px;
  text-align: center;
}

.skill-name{
  letter-spacing:4px;
  margin-top: 10px;
  margin-bottom:10px;
}

.grey{
  color:#000;
  background-color:#f1f1f1;
}


.precentage{
  color:#fff;
  background-color:#616161;
  padding:2px 6px;
  text-align: center;
}


/* portfolio */

.subtitle1,.subtitle2,.subtitle3{
  font-size:32px;
  color: #fff;
  letter-spacing:8px;
}

.display-middle{
  text-align: center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.portfolio-section, .contact-section{
  padding-top:64px;
  padding-bottom:64px;
}

.portfolio-section:after,.portfolio-section:before ,.price-section:after,.price-section:before ,.contact-section:after,.contact-section:before{
content:"";
display:table;
clear:both;
}

.myphoto{
  border-radius: 100%;
}


/* price section */

.card-header{
  color:#fff;
  background-color: #000;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

h4{
  font-size: 22px;
  margin-bottom: 0;
}

.list-group-item{
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  color: #777;
}


.sign-button{
  font-size: 18px;
  background-color: #fff;
}

.sign-button:hover{
  color:#fff;
  background-color: #000;
}

.monthprice{
  font-family: "Montserrat", sans-serif;
  color: #616161;
  font-size: 28px;
  margin: 0 0;
}

.month{
  color: #C0C0C0;
}

.price-title{
  margin-bottom: 35px;
}


/* contact section */
.btn {
  background: #000;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.btn:hover {
  background: darkgray;
  color: #000;
  text-decoration: none;
}


/* bottom */

.bottom-section{
  background-color: #000;
  bottom:0;
  width:100%;
  z-index:1;
}



